body {
    background-color: #EBE5DF;
}
.navigation-bar {
    width: 100%;  
    height: 80px; 
    padding: 0px;
    margin: 0px;
    text-align: right;
    display:inline-block;
    vertical-align:center;
    background-color: #DCFEEA;
}

#logo {
    float: left;
    background-color:#DCFEEA;
    display: inline-block;
    color: #DCFEEA;
    text-align: center;
    padding: 20px;
}

.nav-item {
    background-color:#DCFEEA;
    display: inline-block;
    color: #DCFEEA;
    width: 100px;
    text-align: center;
    padding: 16px;
    font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: "Big shoulders display", sans-serif;
        font-size: 16px;
        
}
 

.herolmg {
    height: 600px;
    padding: 25px;
    text-align: center;
}

#Me {
    float: right;
    display: inline-block;
    padding: 20px;
}
.herobanner {font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: "Big shoulders display", sans-serif;
    text-align: left;
    
}
.header1 {
    font-size: 64px;
}
.header2 {
    font-size: 48px;
}

.text {
    text-align: center;
    font-size: 16px;
    font-family: 'Shippori Mincho B1', serif;

}
footer {
    background-color: black;
    padding: 20px;
    color: white;
    clear: both;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    margin-left: 100px; 
  }
  
  .footer1 {
    font-family: 'Big Shoulders Display', 'Lato', 'Open Sans', sans-serif;
    text-align: left;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .footer-logo {
    text-align: right;
  }
  .contact-form {
    width: 400px;
    margin-right: 150px; 
  }
  
  .contact-form h3 {
    font-size: 18px;
  }
  
  .form-field {
    margin-bottom: 10px;
  }
  
  .form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-field input,
  .form-field textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #DCFEEA;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }